/* index_style.css */
h1{
  text-align: center;
  font-family:  "Dyuthi";
  padding: 10px;
  color: maroon;
  
}

#btrefresh {
  background-color : sienna;
  text-align: center;
  color : white;
  padding: 10px;
  border-radius: 5px;
  font-family : Dyuthi;
  font-size: large;

}

.tweet{

  background-color : tan;
  color: saddlebrown;
  padding: 10px;
  border-radius: 5px;
  font-family : Chilanka;
  font-size: large;
}

.date{
  background-color : wheat;
  margin-bottom: 7px;
  color: peru;
  font-family : Chilanka;
  font-size: medium;
}